<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Enregistrer un nouveau Box</h2>
    <form [formGroup]="boxForm" (ngSubmit)="onSaveBox()">
      <div class="form-group">
        <label for="nom">Nom du box</label>
        <input type="text" id="nom" class="form-control" formControlName="nom">
      </div>
      <div class="form-group">
          <label for="adresse">Adresse du box</label>
          <input type="text" id="adresse" class="form-control" formControlName="adresse">
      </div>
      <div class="form-group">
        <label for="ville"> Ville </label>
        <input type="text" id="ville" class="form-control" formControlName="ville">
      </div>
      <div class="form-group" *ngIf="boxForm.invalid === false">
          <label for="codePostal"> Code Postal </label>
          <input type="text" id="codePostal" class="form-control" formControlName="codePostal">
      </div>
      <div class="form-group has-success has-feedback" *ngIf="boxForm.invalid === false">
          <label for="codePostal"> Code Postal </label>
          <input type="text" id="codePostal" class="form-control" formControlName="codePostal">
      </div>
      <div class="form-group">
          <label for="etat">Etat du box</label>
          <select type="text" id="etat" class="form-control" formControlName="etat">
            <option value="Ouvert">Ouvert</option>
            <option value="Fermé">Fermé</option>
          </select>
      </div>
      <button class ="btn btn-success" [disabled]="boxForm.invalid" type="submit">Enregistrer</button>
    </form>
  </div>
</div>