<div class="row">
  <div class="col-xs-12">
    <h2>Vos Boxs</h2>
    <div class="list-group" *ngIf="onAdmin() === false">
      <button class="list-group-item" *ngFor="let box of boxs; let i = index" (click)="onViewBox(i)">
        <h3 class="list-group-item-heading">
          {{ box.nom }}
          <button *ngIf="box.etat === 'Ouvert'" class="btn btn-danger pull-right" (click)="onSwitch(i)">Ouvert</button>
          <button *ngIf="box.etat === 'Fermé'" class="btn btn-success pull-right" (click)="onSwitch(i)">Fermé</button>
          <button class="btn btn-default pull-right" (click)="onDeleteBox(box)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </h3>
        <p class="list-group-item-text">{{ box.adresse }}</p>
      </button>
    </div>

    <div class="list-group" *ngIf="onAdmin() === true">
      <button class="list-group-item" *ngFor="let box of boxsAdmin; let i = index" (click)="onViewBox(i)">
        <h3 class="list-group-item-heading">
          {{ box.nom }}
          <button *ngIf="box.etat === 'Ouvert'" class="btn btn-danger pull-right" (click)="onSwitch(i)">Ouvert</button>
          <button *ngIf="box.etat === 'Fermé'" class="btn btn-success pull-right" (click)="onSwitch(i)">Fermé</button>
          <button class="btn btn-default pull-right" (click)="onDeleteBox(box)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </h3>
        <p class="list-group-item-text">{{ box.adresse }}</p>
      </button>
    </div>
    
    <button class="btn btn-primary" (click)="onNewBox()" >Nouveau box</button>
  </div>
</div>
